/lab1/.idea
/lab1/cmake-build-debug
/lab1/cmake-build-release
/lab1/CMakeLists.txt

/lab2/.idea
/lab2/cmake-build-debug
/lab2/cmake-build-release
/lab2/CMakeLists.txt

/lab3/.idea
/lab3/cmake-build-debug
/lab3/cmake-build-release
/lab3/CMakeLists.txt

/lab4/client/.idea
/lab4/client/cmake-build-debug
/lab4/client/cmake-build-release
/lab4/client/CMakeLists.txt

/lab4/server/.idea
/lab4/server/cmake-build-debug
/lab4/server/cmake-build-release
/lab4/server/CMakeLists.txt

/lab5/httpServer/cmake-build-debug
/lab5/httpServer/cmake-build-release
/lab5/httpServer/CMakeLists.txt
/lab5/httpServer/.idea
/doc