body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #90e0ef, #caf0f8);
    color: #003049;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0077b6;
    color: white;
}

nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 3rem;
    background: linear-gradient(to right, #90e0ef, #caf0f8);
    min-height: 60vh;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.main-header{
    font-size: 3rem;
}

.text-highlight {
    color: #0077b6;
}

.text{
    font-size: 1rem;
    color: #333;
}

.button {
    padding: 0.7rem 1.5rem;
    background-color: #0077b6;
    border: none;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    margin-top: 1rem;
    display: inline-block;
}

.main img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 12px;
}

.contact-item {
    margin: 1rem;
    text-align: center;
    max-width: 350px;
    min-width: 50px;
}

.title {
    font-size: 1.5rem;
    color: #003049;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.contact-info {
    font-size: 1rem;
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

.contact-info:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #0077b6;
    color: white;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        text-align: center;
    }

    .main img {
        width: 80%;
    }
}
